@model ProyectoOrderTwoGo.Models.Usuarios
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
<article class="row">
    <article class="col-md-4 offset-md-4">
        <section class="card col-md-12">
            <section class="card-body col">
                @using (Html.BeginForm("Actualizar", "Users", FormMethod.Post, new { @class = "form-group" }))
                {
                    @Html.HiddenFor(m => m.idUsuario)

                    @Html.LabelFor(m => m.NombreUsuario)
                    @Html.EditorFor(m => m.NombreUsuario, new { htmlAttributes = new { @class = "form-control" } })

                    <br />
                    @Html.LabelFor(m => m.usuario)
                    @Html.EditorFor(m => m.usuario, new { htmlAttributes = new { @class = "form-control" } })
                    <br />
                    @Html.LabelFor(m => m.idEmpresa)
                    @Html.DropDownListFor(x => x.idEmpresa, (SelectList)ViewBag.Empresa, new { @class = "form-control" })
                    <br />
                    @Html.LabelFor(m => m.idRol)
                    @Html.DropDownListFor(x => x.idRol, (SelectList)ViewBag.Roles, new { @class = "form-control" })

                    @Html.LabelFor(m => m.clave)
                    @Html.EditorFor(m => m.clave, new { htmlAttributes = new { @class = "form-control" } })

                    <br />

                    <section>
                        <input type="submit" class="btn btn-block btn-primary" value="Actualizar" />
                    </section>
                }
            </section>
        </section>
    </article>
</article>
</section>
