@model  IEnumerable<ProyectoOrderTwoGo.Models.Usuarios>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Session["user"] == null)
    {
        Response.Redirect("~/Users/Login");
    }
}

<section>
    @if (TempData["mensaje"] != null)
    {
        <section class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" date-dismiss="alert" arial-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </section>
    }
    <article class="container">
        <article class="row">
            <section class="offset-md-3">
                <h4>Lista de Empleados</h4>
            </section>
            <section class="col-md-4">
                <a href="~/Users/Agregar" class="btn btn-block btn-primary">Agregar Empleado</a>
                <br />
            </section>

            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>@Html.DisplayNameFor(m => m.idUsuario)</td>
                            <td>@Html.DisplayNameFor(m => m.NombreUsuario)</td>
                            <td>@Html.DisplayNameFor(m => m.usuario)</td>
                            <td>Editar</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td>@i.idUsuario</td>
                                <td>@i.NombreUsuario</td>
                                <td>@i.usuario</td>
                                <td>
                                    @Html.ActionLink("Editar", "Editar", new { id = i.idUsuario }, new { @class = "btn btn-block btn-warning" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="offset-5">No existe nada papá</p>
            }
        </article>
    </article>
</section>