@model ProyectoOrderTwoGo.Models.Usuarios
@{
    ViewBag.Title = "Login";

    if (Session["user"] != null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<section class="container">
    <section class="row">
        <article class="col-md-4 offset-md-4" >
            <section class="card">
                <article class="offset-md-1">
                    @using (Html.BeginForm("Authorice", "Users", FormMethod.Post, new { @class = "form-group" }))
                    {
                        
                        <section class="form-group">
                            @Html.LabelFor(m => m.usuario)
                            @Html.EditorFor(m => m.usuario, new { htmlAttributes = new { @class = "form-control" } })
                        </section>
                        <section>
                            @Html.LabelFor(m => m.clave)
                            @Html.EditorFor(m => m.clave, new { htmlAttributes = new { @class = "form-control" } })
                        </section>
                        <br />
                        <section style="color:red" class="row">@Html.ValidationMessageFor(m => m.usuario)</section>
                        <section style="color:red">@Html.ValidationMessageFor(m => m.clave)</section>
                        <section class="">
                            <section class="row">
                                <div class="col-md-5"> <input type="submit" class="btn btn-block btn-primary" name="nam" value="Login"></div>
                                <div class="col-md-6"> <a href="https://www.google.com" class="btn btn-block btn-primary">Registrarse</a></div>
                            </section>
                        </section>
                    }
                </article>
            </section>
        </article>
    </section>
</section>
