<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">


                    @if (Session["Rol"] != null && int.Parse(Session["Rol"].ToString()) == 1)
                    {
                        <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link text-dark" })</li>
                        @Html.ActionLink("Usuarios", "Index", "Users", new { area = "" }, new { @class = "nav-link text-dark" })

                        @Html.ActionLink("Empresas", "Index", "Empresas", new { area = "" }, new { @class = "nav-link text-dark" })

                        @Html.ActionLink("Producto", "Index", "Productos", new { area = "" }, new { @class = "nav-link text-dark" })
                        <a href="@Url.Action("LogOut", "Users")" class="nav-link text-dark">Log Out</a>
                    }
                    else
                    {
                        if (Session["user"] != null)
                        {
                            @Html.ActionLink("Producto", "Index", "Productos", new { area = "" }, new { @class = "nav-link text-dark" })
                            <a href="@Url.Action("LogOut", "Users")" class="nav-link text-dark">Log Out</a>
                        }
                        else
                        {
                            @Html.ActionLink("Ingresar", "Login", "Users", new { area = "" }, new { @class = "nav-link text-dark" })
                            @Html.ActionLink("Registrarse", "Index", "Users", new { area = "" }, new { @class = "nav-link text-dark" })
                        }
                    }

                </ul>

            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>