    @model ProyectoOrderTwoGo.Models.Empresa
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
    @if (TempData["mensaje"] != null)
    {
        <section class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" date-dismiss="alert" arial-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </section>
    }
    
    <section class="row">
        <article class="col-md-4 offset-md-4">
            <section class="card">
                <article class="offset-md-1">
                    @using (Html.BeginForm("Actualizar", "Empresas", FormMethod.Post, new { @class = "form-group" }))
                    {
                        @Html.HiddenFor(m => m.idEmpresa)
                        <section>
                            @Html.LabelFor(m => m.nameEmpresa)
                            @Html.EditorFor(m => m.nameEmpresa, new { htmlAttributes = new { @class = "form-control" } })
                        </section>
                        <br />
                        <section>
                            @Html.LabelFor(m => m.DescripcionEmpresa)
                            @Html.EditorFor(m => m.DescripcionEmpresa, new { htmlAttributes = new { @class = "form-control" } })
                        </section>
                        <section>
                            @Html.LabelFor(m => m.numeroTelefono)
                            @Html.EditorFor(m => m.numeroTelefono, new { htmlAttributes = new { @class = "form-control" } })
                        </section>
                        <section style="color:red" class="row">@Html.ValidationMessageFor(m => m.nameEmpresa)</section>
                        <section style="color:red" class="row">@Html.ValidationMessageFor(m => m.numeroTelefono)</section>
                        <section style="color:red" class="row">@Html.ValidationMessageFor(m => m.DescripcionEmpresa)</section>
                        <section class="">
                            <input type="submit" class="btn btn-block btn-primary" name="nam" value="Actualizar">
                        </section>
                    }
                </article>
            </section>
        </article>
    </section>
</section>



