@model  PagedList.IPagedList<ProyectoOrderTwoGo.Datos.ProductosRepository>
@{
    ViewBag.Title = "OrderTwoGo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;
@using PagedList;

<div class="container" id="contenedor">
    <div class="row">
        <div class="col-md-2" id="lateral">
            <div class="row">
                <div class="col-md-10" id="anuncios">
                    <aside>
                    </aside>
                </div>
            </div>
        </div>
        <div class="col-md-10" id="principal">
            <div class="row">
                @if (ViewBag.Productos != null)
                {
                    foreach (var e in ViewBag.Productos)
                    {
                        <div class="col-md-4">
                            <article class="card">
                                <section class="card-header">

                                    <span class=""><strong>@e.idProducto</strong></span><span>@e.NombreProducto</span>
                                </section>
                                <section class="card-body">
                                    <br />
                                    <label>Precio:</label>
                                    @e.Precio
                                    <section class="row">
                                        <div class="col-md-6">@Html.ActionLink("Carrito", "Editar", new { id = e.idProducto}, new { @class = "btn btn-block btn-warning col-md-12" })</div>
                                    </section>
                                </section>
                            </article>
                            <br />
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="container">
    <section class="row">
        <section class="card offset-md-6">
            <section class="">
                @Html.PagedListPager(Model, page => Url.Action("OrderTwoGo", new { page }))
            </section>
        </section>
    </section>
</div>
